/* FONTS */
@font-face {
    font-family: "Source Code Pro";
    src: url("../font/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Code Pro Medium";
    src: url("../font/SourceCodePro/SourceCodePro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Asket Narrow";
    src: url("../font/AsketNarrow/Asket-Narrow-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Calling Code";
    src: url("../font/CallingCode/CallingCode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OCRB Regular";
    src: url("../font/OCRB/OCRB-Regular.ttf") format("truetype");
}

/* CUSTOM CSS */

/* Prevent text selection */
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Source Code Pro Medium", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

.cover-container {
    position: relative;
    width: auto;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LOGO */
.svg-logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.svg-logo svg {
    /* width: 100%; */
    height: 100%;
    max-width: 750px;
    max-height: 604px;
    animation: imageGlow 2s ease-in-out infinite alternate;
}

#octagon-logo:nth-child(1) {
    fill: rgba(255, 255, 255, 0.0);
    stroke: #fff;
    stroke-width: 5;
    stroke-dasharray: 17540px;
    stroke-dashoffset: 17540px;
    animation: pathOffset 2s cubic-bezier(0.5,0.25,0.4,1) forwards, pathFill 1.8s cubic-bezier(0.5,0.25,0.4,1) forwards;;
    /* animation-timing-function: cubic-bezier(0.5,0.25,0.4,1); */
}

.logo-text {
    font-family: "Asket Narrow", sans-serif;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    padding-left: 0.5rem;
    animation: textGlow 2s ease-in-out infinite alternate;
}

/* ANIMATION */
@keyframes imageGlow {
    from {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    }
    
    to {
        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.8));
    }
}

@keyframes textGlow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    }
    
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8);
    }
}

@keyframes pathOffset {
    from {
        stroke-dashoffset: 17540px;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pathFill {
    from {
        fill: rgba(255, 255, 255, 0.0);
    }

    to {
        fill: rgba(255, 255, 255, 1.0);
    }
}