/* FONTS */
@font-face {
    font-family: "Source Code Pro";
    src: url("../font/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Source Code Pro Medium";
    src: url("../font/SourceCodePro/SourceCodePro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Asket Narrow";
    src: url("../font/AsketNarrow/Asket-Narrow-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Calling Code";
    src: url("../font/CallingCode/CallingCode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OCRB Regular";
    src: url("../font/OCRB/OCRB-Regular.ttf") format("truetype");
}

/* CUSTOM CSS */

/* Prevent text selection */
* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Source Code Pro Medium", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
    overflow: hidden;
}

.cover-container {
    position: relative;
    width: auto;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGO */
.logo-container {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}


.logo-text {
    font-family: "Asket Narrow", sans-serif;
    text-align: center;
    font-size: 2.2rem;
    /* font-size: 3vw; */
    letter-spacing: 0.5rem;
    padding-left: 0.5rem;
    animation: textGlow 2s ease-in-out infinite alternate;

    /* Center text inside logo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

/* WEBGL */
.threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	.logo-text {
        font-size: 5vw;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	/* For desktop: */
	
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}